<button
  *ngIf="!activePool.finalized"
  class="me-3 btn btn-warning btn-sm"
  [disabled]="!isCreator"
  (click)="onAddParticipants()"
>
  {{ 'Add participants' | translate }}
</button>

<button
  *ngIf="!activePool.finalized"
  class="me-3 btn btn-success btn-sm"
  [disabled]="!isCreator"
  (click)="onFinalizePool()"
>
  {{ 'Finalize' | translate }}
</button>

<span class="">{{ 'Status' | translate }}: </span>
<span
  class=""
  [class.text-warning]="activePool?.status === 'Active'"
  [class.text-success]="activePool?.status === 'Filled'"
  [class.text-danger]="activePool?.status === 'NoFinalized'"
  >{{ activePool?.status }}</span
>
