<ng-container
  *ngIf="{
    state: state$ | async,
    tsProcessing: tsProcessing$ | async,
    initialized: initialized$ | async,
    loading: connectionService.loading$ | async
  } as params"
>
  <app-header
    [connected]="params.state.userConnected"
    [loading]="params.loading"
    (connectWallet)="connectionService.connect()"
    class="mb-auto"
  ></app-header>

  <main class="pt-3 pb-3">
    <app-notification id="main"></app-notification>
    <div *ngIf="params.initialized" class="container d-flex flex-column align-items-center">
      <app-processing
        *ngIf="params.tsProcessing[1]"
        [transactions]="params.tsProcessing"
        class="mb-3"
      ></app-processing>
      <app-pool-form (closeForm)="onCloseForm()" (createPool)="onCreate($event)"></app-pool-form>
    </div>
  </main>
</ng-container>
