<form class="" [formGroup]="form">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title m-0">{{ 'Creating new pool' | translate }}</h5>
    <button class="btn-close btn-close-white fs-5" (click)="onClose()"></button>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-4 fs-6 text-success">
      {{ 'Please, fill the form for creating new pool' | translate }}
    </h6>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">
          {{ 'Pool name' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control bg-dark text-light border-opacity-50"
          formControlName="name"
          [class.is-invalid]="hasErrors('name')"
        />
        <p class="invalid-feedback mb-0">
          {{ 'Input from {min} to {max} symbols' | translate : { min: 3, max: 10 } }}
        </p>
      </div>
      <div class="col ps-0">
        <label class="form-label">
          {{ 'Token name' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control bg-dark text-light"
          formControlName="tokenName"
          [class.is-invalid]="hasErrors('tokenName')"
        />
        <p class="invalid-feedback mb-0">
          {{ 'Input from {min} to {max} symbols' | translate : { min: 1, max: 10 } }}
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">{{ 'Token address' | translate }} </label>
      <input
        class="form-control bg-dark text-light"
        formControlName="tokenAddress"
        [class.is-invalid]="hasErrors('tokenAddress')"
      />
      <p class="invalid-feedback mb-0">{{ 'Address not valid' | translate }}</p>
    </div>
    <div class="mb-3 form-check form-switch">
      <input
        class="form-check-input c-pointer"
        type="checkbox"
        role="switch"
        formControlName="approvable"
      />
      <label class="form-check-label d-flex align-items-center"
        ><span>{{ 'Approvable pool' | translate }}</span>
        <app-icon
          class="text-danger ms-3"
          icon="icon-info-circled"
          [toolTipText]="'ApprovableTipKey' | translate"
        >
        </app-icon>
      </label>
    </div>
    <div class="row mb-3" *ngIf="form.get('approvable').value">
      <div class="col-8">
        <label class="form-label">
          {{ 'Approver address' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control bg-dark text-light"
          formControlName="approverAddress"
          [class.is-invalid]="hasErrors('approverAddress')"
        />
        <p class="invalid-feedback mb-0">{{ 'Address not valid' | translate }}</p>
      </div>

      <div class="col-4 ps-0">
        <label class="form-label"
          >{{ 'Approver`s fee' | translate }} {{ FEE_TOKEN.name }}
          <span class="text-danger">*</span>
        </label>
        <input
          type="number"
          class="form-control bg-dark text-light"
          formControlName="stableApproverFee"
          [class.is-invalid]="hasErrors('stableApproverFee')"
        />
        <p class="invalid-feedback mb-0">
          {{ 'Min approver fee is' | translate }} {{ MIN_APPROVER_FEE }}{{ FEE_TOKEN.name }}
        </p>
      </div>
    </div>
    <div class="mb-3 form-check form-switch">
      <input
        class="form-check-input c-pointer"
        type="checkbox"
        role="switch"
        formControlName="privatable"
      />
      <label class="form-check-label">
        <span>{{ 'Private pool' | translate }}</span>
        <app-icon
          class="text-danger ms-3"
          icon="icon-info-circled"
          [toolTipText]="'PrivatableTipKey' | translate"
        ></app-icon>
      </label>
    </div>
    <div class="mb-3 d-flex justify-content-between" *ngIf="participants.length">
      <label class="form-label"
        >{{ 'Token amount' | translate }}: {{ tokenAmount | number }}
      </label>
      <label class="form-label" [class.text-danger]="participants.length > MAX_POOL_PARTICIPANTS"
        >{{ 'Participant count' | translate }}: {{ participants.length }}
      </label>
    </div>
    <ng-content></ng-content>
    <div class="d-flex justify-content-end align-items-center">
      <div class="d-flex justify-content-end align-items-end">
        <p class="text-danger m-0 me-3" *ngIf="!participants.length">
          {{ 'Please, add at least 1 participant' | translate }}
        </p>
        <button class="btn btn-success fs-5" [disabled]="saveDisabled" (click)="onSave()">
          {{ 'Create pool' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
