<form class="card text-bg-dark shadow-lg bg-opacity-75 col-8" [formGroup]="form">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title m-0">Creating new pool</h5>
    <button class="btn-close btn-close-white fs-5" (click)="close()"></button>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-4 fs-6 text-success">
      Please, fill the form for creating new pool
    </h6>
    <div class="d-flex gap-3">
      <div class="mb-3 flex-grow-1">
        <label class="form-label">Pool name <span class="text-danger">*</span></label>
        <input
          class="form-control bg-dark text-light border-opacity-50"
          formControlName="name"
          [class.is-invalid]="hasErrors('name')"
        />
        <p class="invalid-feedback">Input from 3 to 10 symbols</p>
      </div>

      <div class="mb-3 flex-grow-1">
        <label class="form-label">Token name <span class="text-danger">*</span></label>
        <input
          class="form-control bg-dark text-light"
          formControlName="tokenName"
          [class.is-invalid]="hasErrors('tokenName')"
        />
        <p class="invalid-feedback">Input from 1 to 10 symbols</p>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Token address </label>
      <input
        class="form-control bg-dark text-light"
        formControlName="tokenAddress"
        [class.is-invalid]="hasErrors('tokenAddress')"
      />
      <p class="invalid-feedback">Token address not valid</p>
    </div>

    <div class="d-flex gap-3">
      <div class="mb-3 flex-grow-1">
        <label class="form-label">Approver address</label>
        <input
          class="form-control bg-dark text-light"
          formControlName="approverAddress"
          [class.is-invalid]="hasErrors('approverAddress')"
        />
        <p class="invalid-feedback">Token address not valid</p>
      </div>

      <div
        class="mb-3"
        *ngIf="form.get('approverAddress').value && form.get('approverAddress').valid"
      >
        <label class="form-label">Approver`s fee {{ FEE_TOKEN.name }}</label>
        <input
          class="form-control bg-dark text-light"
          formControlName="stableApproverFee"
          [class.is-invalid]="hasErrors('stableApproverFee')"
        />
        <p class="invalid-feedback">Token address not valid</p>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Pool token amount <span class="text-danger">*</span></label>
      <input
        type="number"
        class="form-control bg-dark text-light"
        formControlName="tokenAmount"
        [class.is-invalid]="hasErrors('tokenAmount')"
      />
      <p class="invalid-feedback">
        Input value more than {{ form.getError('min', 'tokenAmount')?.min }} tokens
      </p>
    </div>
    <div class="mb-3 form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" formControlName="privatable" />
      <label class="form-check-label">Private pool</label>
    </div>

    <ng-container formArrayName="participants">
      <ng-container *ngFor="let participant of $any(participantsForm.controls); let i = index">
        <div class="card text-bg-dark border border-secondary mb-3">
          <div
            class="card-header d-flex justify-content-between align-items-center border-bottom border-secondary"
          >
            <h5 class="card-title m-0">Participant #{{ i + 1 }}</h5>
            <button class="btn-close btn-close-white fs-5" (click)="deleteParticipant(i)"></button>
          </div>
          <div class="card-body" [formGroup]="participant">
            <div class="mb-3">
              <label class="form-label">
                Participant address <span class="text-danger">*</span>
              </label>
              <input
                class="form-control bg-dark text-light"
                formControlName="account"
                [class.is-invalid]="hasFormArrayError('address', i)"
              />
              <p class="invalid-feedback">Participant address not valid or not uniq</p>
            </div>

            <div class="mb-3">
              <label class="form-label">
                Participant share in tokens <span class="text-danger">*</span>
              </label>
              <input
                type="number"
                class="form-control bg-dark text-light"
                formControlName="share"
                [class.is-invalid]="hasFormArrayError('share', i)"
              />
              <p class="invalid-feedback">
                Input value more than
                {{ participantsForm.at(i).getError('min', 'share')?.min - 1 }} tokens
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="d-flex justify-content-center mb-3">
      <button class="btn btn-danger" [disabled]="addingDisabled" (click)="addParticipant()">
        Add participant
      </button>
    </div>

    <div class="d-flex justify-content-end align-items-baseline">
      <p class="text-danger me-3" *ngIf="!participantsForm.length">
        Please, add at least 1 participant
      </p>
      <p class="text-danger me-3" *ngIf="hasErrors('participants')">
        Sum of participant shares and token amount is not equal
      </p>
      <button class="btn btn-success fs-5" [disabled]="form.invalid" (click)="save()">Save</button>
    </div>
  </div>
</form>
