.list-group {
  --bs-list-group-bg: none;
  --bs-list-group-color:var(--app-font-light-color);
  --bs-list-group-action-hover-bg: var(--app-warn-color);
  --bs-list-group-border-color: var(--app-font-light-color);
  --bs-list-group-action-hover-color: var(--app-font-dark-color);;
}
