<div class="modal-content text-bg-dark border-dark border-opacity-50">
  <div class="modal-header border-opacity-50">
    <h4 class="modal-title">{{ header }}</h4>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ content }}</p>
  </div>
  <div class="modal-footer border-dark border-opacity-50">
    <button type="button" class="btn btn-danger" (click)="activeModal.close(true)">OK</button>
    <button type="button" class="btn btn-success" (click)="activeModal.dismiss()">Cancel</button>
  </div>
</div>
