<ng-container
  *ngIf="{
    state: state$ | async,
    localState: localState$ | async,
    userPools: userPools$ | async,
    loading: connectionService.loading$ | async
  } as params"
>
  <app-header
    [connected]="params.state.userConnected"
    [loading]="params.loading"
    (connectWallet)="onConnectWallet()"
    class="mb-auto"
  ></app-header>
  <main class="pt-3 pb-3">
    <app-notification id="main"></app-notification>
    <div class="container">
      <div class="dashboard fs-5 mb-3" *ngIf="params.state.userConnected">
        <div class="row mb-5">
          <p *ngIf="params.userPools?.length" class="col m-0 d-flex align-items-center">
            You participated in {{ params.userPools?.length }} pools
          </p>
          <p *ngIf="!params.userPools?.length" class="col m-0 d-flex align-items-center">
            You have not participated in pools, yet
          </p>
          <div
            class="d-flex align-items-center col justify-content-end"
            *ngIf="!params.localState.showCreatingForm"
          >
            <p class="m-0">You can create new pool</p>
            <button class="btn btn-danger ms-3 fs-5" (click)="showCreatingForm()">Add</button>
          </div>
        </div>
      </div>
      <app-new-pool
        *ngIf="params.localState.showCreatingForm"
        (closeForm)="closeNewForm()"
        (saveForm)="saveNewForm($event)"
      ></app-new-pool>
      <ng-container *ngIf="params.state.userConnected && !params.localState.showCreatingForm">
        <app-pools
          [pools]="params.userPools"
          [userAccount]="params.state.userAccount"
          [activePool]="params.localState.activePool"
          [loading]="params.loading"
          (claimTokens)="claimTokens($event)"
          (tokenAddressChange)="tokenAddressChange($event)"
          (nextParticipantsLoad)="nextParticipants($event)"
          (activePoolChange)="goToActivePool($event)"
        ></app-pools>
      </ng-container>
      <div class="">{{ 'AppInfoKey' | translate }}</div>
    </div>
  </main>
</ng-container>
