<ng-container
  *ngIf="{
    state: state$ | async,
    localState: localState$ | async,
    userPools: userPools$ | async,
    loading: connectionService.loading$ | async
  } as params"
>
  <app-header
    [state]="params.state"
    [loading]="params.loading"
    (connectWallet)="connectionService.connect()"
    class="mb-auto"
  ></app-header>
  <main class="pt-3 pb-3">
    <app-notification id="main"></app-notification>
    <div class="container">
      <div class="row fs-5 mb-3" *ngIf="params.state.userConnected">
        <p *ngIf="params.userPools?.length" class="col m-0 d-flex align-items-center">
          You participated in {{ params.userPools?.length }} pools
        </p>
        <p *ngIf="!params.userPools?.length" class="col m-0 d-flex align-items-center">
          You have not participated in pools, yet
        </p>
        <div class="d-flex align-items-center col justify-content-end">
          <p class="m-0" *ngIf="params.state.canCreatePool">You can create new pool</p>
          <p class="m-0" *ngIf="!params.state.canCreatePool">
            You cannot create new pool while there is not finalized pool
          </p>
          <button
            class="btn btn-warning ms-3 fs-5"
            [disabled]="!params.state.canCreatePool"
            (click)="showCreatingForm()"
          >
            {{ 'Create pool' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="params.state.userConnected" class="row mb-3">
        <app-pools-menu
          class="col-2"
          [pools]="params.userPools"
          [activePool]="params.localState.activePool"
          [isLastPools]="params.state.isLastPools"
          (activePoolChange)="goToPool($event)"
          (nextPools)="nextPools()"
        ></app-pools-menu>
        <app-pool-view
          class="col-10"
          [userAccount]="params.state.userAccount"
          [participants]="params.state.participants"
          [activePool]="params.localState.activePool"
          [loading]="params.loading"
          (claimTokens)="claimTokens($event)"
          (tokenAddressChange)="tokenAddressChange($event)"
          (nextParticipantsLoad)="nextParticipants($event)"
          (activePoolChange)="goToPool($event)"
          (finalize)="finalizePool()"
          (addParticipants)="showParticipantsForm()"
        ></app-pool-view>
      </div>

      <div *ngIf="params.localState.showParticipantsForm" class="row justify-content-end">
        <div class="col-10 card text-bg-dark shadow-lg bg-opacity-75">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="m-0">{{ 'Add participant' | translate }}</h5>
              <div class="d-flex align-items-center" *ngIf="params.localState.participants.length">
                <button
                  class="btn-close btn-close-white fs-5"
                  (click)="closeParticipantsForm()"
                ></button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <span class="">
                {{ 'Token amount' | translate }}:
                {{ tokenAmount(params.localState.participants) | number }}
              </span>
              <div class="">
                <span [class.text-danger]="isOverParticipants">
                  {{ 'Participant count' | translate }}:
                  {{ params.localState.participants.length }}
                </span>
                <span>
                  ({{ 'Max participants per Ts' | translate }}: {{ MAX_POOL_PARTICIPANTS }})
                </span>
              </div>
            </div>
          </div>
          <app-participants
            class="card-body"
            [readOnly]="params.loading"
            [excludedParticipants]="mapToAccount(params.state?.participants)"
            (participantsChanges)="onParticipantsChanges($event)"
            (validnessChanges)="onValidnessChanges($event)"
          ></app-participants>
          <div class="card-footer d-flex justify-content-end">
            <button
              class="btn btn-success fs-5"
              [disabled]="!params.localState.participantsValidness || isOverParticipants"
              (click)="addToPool()"
            >
              {{ 'Add to pool' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="">{{ 'AppInfoKey' | translate }}</div>
    </div>
  </main>
</ng-container>
