:root {
  --bs-body-font-family: Roboto, sans-serif;
  --app-bg: #1c0b44;
  --app-font-color: #dad3da;
}

.main-layout {
  background:var(--app-bg);
  color: var(--app-font-color);
}

a {
  text-decoration: none;
}
