<ng-container>
  <div class="col-2">
    <div class="list-group list-group-light">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        [class.text-bg-warning]="isTabActive(pool)"
        (click)="setActivePool(pool)"
        *ngFor="let pool of pools"
      >
        {{ pool.name }}({{ pool.tokenName }})
      </a>
    </div>
  </div>

  <div class="col-10">
    <div class="card text-bg-dark shadow-lg bg-opacity-75">
      <div class="card-header d-flex">
        <h5 class="m-0"># {{ activePool?.name }} ({{ activePool?.tokenName }})</h5>
        <div class="ms-auto text-success">
          <span class="">Status: </span>
          <span class="">{{ activePool?.status }}</span>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <h6 class="card-title">Token name</h6>
            <p class="card-text">{{ activePool?.tokenName }}</p>
          </div>
          <div class="col">
            <h6 class="card-title">Pool contract address</h6>
            <p class="card-text">{{ activePool?.contractAddress }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <h6 class="card-title">Token amount</h6>
            <p class="card-text">{{ activePool?.tokenAmount }}</p>
          </div>
          <div class="col">
            <h6 class="card-title">Token contract address</h6>
            <p class="card-text d-flex">
              {{ activePool?.tokenAddress ? activePool?.tokenAddress : 'N/A' }}
              <button
                class="ms-auto btn btn-success btn-sm"
                [disabled]="disabledEditTokenAddress"
                (click)="onEditTokenAddress()"
              >
                Edit
              </button>
            </p>
            <div class="d-flex" *ngIf="isEditTokenAddress">
              <input
                class="form-control form-control-sm bg-dark text-light me-2"
                [formControl]="editTokenAddressControl"
                [class.is-invalid]="editTokenAddressControl.invalid"
              />
              <button
                class="btn btn-success btn-sm me-2"
                [disabled]="editTokenAddressControl.invalid"
                (click)="saveTokenAddress()"
              >
                Save
              </button>
              <button class="btn btn-danger btn-sm" (click)="cancelEditTokenAddress()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <h6 class="card-title">
            Participants: <span>{{ activePool?.participants.length }}</span>
          </h6>
        </div>
        <div class="d-flex overflow-auto">
          <div
            class="card text-bg-dark me-2 mb-2 w250"
            *ngFor="let participant of prepParticipants(activePool?.participants)"
            [class.border-warning]="isOwnable(participant)"
          >
            <h6 class="card-header">
              {{ participant.address }}
            </h6>
            <div class="card-body">
              <h5 class="card-title fs-6 m-0">
                Share: {{ participant.share }}/{{ participant.progress }}
              </h5>
              <p class="card-text m-0">Telegram ID: {{ participant.telegramId }}</p>
              <p class="card-text m-0">Twitter ID: {{ participant.twitterId }}</p>
              <div class="d-flex">
                <button
                  *ngIf="isOwnable(participant)"
                  class="ms-auto btn btn-success btn-sm"
                  (click)="claim()"
                >
                  Claim
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
