<div class="mb-3" [formGroup]="form">
  <div formArrayName="participants">
    <cdk-virtual-scroll-viewport
      *ngIf="participantsForm.length"
      [itemSize]="participantItemHeight"
      [minBufferPx]="participantItemHeight * 2"
      [maxBufferPx]="participantItemHeight * 2"
      [style.height]="participantViewportHeight + 'px'"
      class="mb-3"
    >
      <div
        class="card text-bg-dark border border-secondary mb-3"
        *cdkVirtualFor="
          let participant of $any(participantsForm.controls);
          let i = index;
          trackBy: trackById
        "
      >
        <div
          class="card-header d-flex justify-content-between align-items-center border-bottom border-secondary"
        >
          <h6 class="card-title m-0">{{ 'Participant' | translate }} #{{ i + 1 }}</h6>
          <button
            class="btn-close btn-close-white fs-5"
            [disabled]="participantsForm.disabled"
            (click)="deleteParticipant(i)"
          ></button>
        </div>
        <div class="card-body" [formGroup]="participant">
          <div class="row">
            <div class="col-8">
              <label class="form-label">
                {{ 'Participant address' | translate }} <span class="text-danger">*</span>
              </label>
              <input
                class="form-control form-control-sm bg-dark text-light"
                formControlName="account"
                [class.is-invalid]="hasErrors('account', i)"
              />
              <p
                *ngIf="participantsForm.at(i).hasError('isAddress', 'account')"
                class="invalid-feedback mb-0"
              >
                {{ 'Address not valid' | translate }}
              </p>
              <p
                *ngIf="participantsForm.at(i).hasError('participantsUniq')"
                class="invalid-feedback mb-0"
              >
                {{ 'Address not uniq' | translate }}
              </p>
            </div>

            <div class="col-4 ps-0">
              <label class="form-label">
                <span>{{ 'Participant share in tokens' | translate }}</span>
                <span class="text-danger ms-1">*</span>
              </label>
              <input
                type="number"
                class="form-control form-control-sm bg-dark text-light"
                formControlName="share"
                [class.is-invalid]="hasErrors('share', i)"
              />
              <p class="invalid-feedback mb-0">
                {{
                  'Input value more than {min} tokens' | translate : { min: MIN_SHARE_AMOUNT - 1 }
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="d-flex justify-content-end align-items-center">
      <button
        class="btn btn-danger"
        [disabled]="participantsForm.disabled"
        (click)="addParticipant()"
      >
        {{ 'Add participant' | translate }}
      </button>
    </div>
  </div>
</div>
